h2 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#about-me-table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.picture-cell {
    background-color: transparent;
    width: 50%;
}

#profile-picture{
    opacity: 1;
    width: 70%;
    margin: auto;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 0.5em;
}

.text-cell {
    left: 0;
    right: 0;
    z-index: 0;
    
    background-color: lightsteelblue;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 0.5em;

    padding-bottom: 1%;
}

.text-cell-title {
    padding-top: 1%;
    padding-left: 1%;
    vertical-align: top;
}