<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Magamról</title>
<style>
</style>
</head>
<body>

     <table id="mainTable" >
    
        <tr>
         <td class="tdMain">Magamról</td>
         <td class="tdMain">Photoshop</td>
         <td class="tdMain">Analóg fotózás</td>
         </tr>
         
    </table>

<about-me></about-me>
    
<footer>
    <table id="footerTable">
    <tr>
        <td>
        <a href="https://www.facebook.com/stahopeti"  target="_blank"><img src="./app/shared/images/allaround/facebook-icon-circle.png" alt="Facebook"></a>
        </td>
        <td>
        <a href="mailto:stahopeti@gmail.com"  target="_top"><img src="./app/shared/images/allaround/gmail.png" alt="Gmail"></a>
        </td>
        </tr>
            
        </table>
</footer>
    
</body>
</html>