<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Magamról</title>
</head>
<body>

     <table id="mainTable" >
    
        <tr>
         <td class="tdMain">Magamról</td>
         <td class="tdMain">Photoshop</td>
         <td class="tdMain">Analóg fotózás</td>
         </tr>
         
    </table>
    
<div id="footer">
    <table id="footerTable">
    <tr>
        <td>
        <a href="https://www.facebook.com/stahopeti"  target="_blank"></a>
        </td>
        <td>
        <a href="mailto:stahopeti@gmail.com"  target="_top"></a>
        </td>
        </tr>
            
        </table>
        </div>
    
</body>
</html>