@import url('https://fonts.googleapis.com/css?family=Oxygen');

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html{
    padding: 0;
    font-family: 'Oxygen', sans-serif; 
}
body{
    z-index: 1;
}

#background-image{
    z-index: -1;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #607D8B;
    background-image: url(./assets/images/background.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
/*
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
*/} 

#main-table{
    display: table;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

.td-main{
    display: table-cell;
    width: 33%;
    text-align: center;
    -webkit-transition: all 0.23s ease;
}

.td-main:hover{
    background-color: #CFD8DC;
    -webkit-transform:scale(1.08);
}
/*
#main-table:nth-child(1){
    float: left;
    width: 33%;
    background: red;
}

div#main-table:nth-child(2){
    margin-left: 33%;
    background: blue;
}

div#main-table:nth-child(3){
    margin-left: 66%;
}*/